{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        
        {{> "site-nav"}}
        <div class="inner">
            <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                    <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            <div class="grid-sizer"></div>
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>
        <div class="right-feed">
            {{#get "authors"}}
            {{#foreach authors}}
            <div class="right-feed-container author-container">
                <div class="author-container-background">
                    {{#if cover_image }}
                    <img src="{{ cover_image }}" alt="Uma imagem de fundo do autor.">
                    {{else}}
                    <img src="/assets/author-background.jpg" alt="Uma imagem de fundo do autor.">
                    {{/if}}
                </div>
                <div class="author-container-profile-image">
                    <img src="{{ profile_image }}" alt="A imagem do author">
                </div>
                <div class="author-container-profile-image-link">
                    <a href="{{ url }}">{{ name }}</a>
                </div>
                <div class="author-container-details">
                    <h4 class="author-container-name">
                        <a href="{{ url }}">{{ name }}</a>
                    </h4>
                    <h5 class="author-container-location">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path>
                        </svg>
                        {{ location }}</h5>
                    <p class="author-container-bio">{{ bio }}</p>

                    <div class="author-container-social-media-links">
                        {{#if facebook }}
                        <div class="author-container-social-facebook">
                            <a href="https://www.facebook.com/{{ facebook }}" target="_blank" rel="noreferrer noopener" alt="O link para a rede social do Facebook.">Facebook</a>
                            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path>
                            </svg>
                        </div>
                        {{/if}}
                        {{#if twitter }}
                        <div class="author-container-social-twitter">
                            <a href="https://twitter.com/{{ twitter }}" target="_blank" rel="noreferrer noopener" alt="O link para a rede social do Twitter.">Twitter</a>
                            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path>
                            </svg>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/foreach}}
            {{/get}}

            <div class="right-feed-container categories-container">
                <h4 class="right-feed-title">CATEGORIAS</h4>

                <ul class="categories-list-container">
                    {{#get "tags" order="name asc"}}
                    {{#foreach tags}}
                    <li class="categories-list-item"><a class="categories-list-item-link" href="{{ url }}">{{ name }}</a></li>
                    {{/foreach}}
                    {{/get}}
                </ul>
            </div>
        </div>
    </div>
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();
    });
</script>
{{/contentFor}}